<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwwhnly.mybatisaction.mapper.SysRoleMapper">
    <!--<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="false"/>-->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <resultMap id="roleMap" type="com.zwwhnly.mybatisaction.model.SysRole">
        <!--<id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="enabled" column="enabled"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>-->

        <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="enabled" column="enabled"/>
        <association property="createInfo" javaType="com.zwwhnly.mybatisaction.model.CreateInfo">
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>
    <resultMap id="rolePrivilegeListMap" extends="roleMap"
               type="com.zwwhnly.mybatisaction.model.SysRole">
        <collection property="sysPrivilegeList" columnPrefix="privilege_"
                    resultMap="com.zwwhnly.mybatisaction.mapper.SysPrivilegeMapper.sysPrivilegeMap"/>
    </resultMap>
    <resultMap id="rolePrivilegeListMapSelect" extends="roleMap"
               type="com.zwwhnly.mybatisaction.model.SysRole">
        <collection property="sysPrivilegeList" fetchType="lazy"
                    column="{roleId=id}"
                    select="com.zwwhnly.mybatisaction.mapper.SysPrivilegeMapper.selectPrivilegeByRoleId"/>
    </resultMap>
    <resultMap id="rolePrivilegeListMapChoose"
               type="com.zwwhnly.mybatisaction.model.SysRole">
        <discriminator column="enabled" javaType="int">
            <case value="1" resultMap="rolePrivilegeListMapSelect"/>
            <case value="0" resultMap="roleMap"/>
        </discriminator>
    </resultMap>
    <select id="selectRoleById" resultMap="roleMap">
        SELECT * FROM sys_role WHERE id = #{id}
    </select>
    <select id="selectAllRoleAndPrivileges" resultMap="rolePrivilegeListMap">
        SELECT
              r.id,
              r.role_name,
              r.enabled,
              r.create_by,
              r.create_time,
              p.id privilege_id,
              p.privilege_name privilege_privilege_name,
              p.privilege_url privilege_privilege_url
        FROM sys_role r
        INNER JOIN sys_role_privilege rp ON rp.role_id = r.id
        INNER JOIN sys_privilege p ON p.id = rp.privilege_id
    </select>
    <select id="selectRoleByUserId" resultMap="rolePrivilegeListMapSelect">
        SELECT
              r.id,
              r.role_name,
              r.enabled,
              r.create_by,
              r.create_time
        FROM sys_role r
        INNER JOIN sys_user_role ur ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
    </select>
    <select id="selectRoleByUserIdChoose" resultMap="rolePrivilegeListMapChoose">
        SELECT
              r.id,
              r.role_name,
              r.enabled,
              r.create_by,
              r.create_time
        FROM sys_role r
        INNER JOIN sys_user_role ur ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
    </select>
</mapper>